<style>
      .bg-custom {
        background-color: #F2EED7;
      }
      .header-text {
        text-align: center;
        color: #333;
      }

    /* Custom Styles */
    .navbar {
        background-color: #204547; /* Dark teal background color */
    }
    .navbar-brand {
        font-family: 'Cursive', sans-serif;
        font-size: 1.8rem;
        color: white;
    }
    .navbar-nav .nav-link {
        color: white;
        font-weight: 500;
        font-size: 1rem;
        margin: 0 10px;
    }
    .navbar-nav .nav-link:hover {
        text-decoration: underline;
        color: #c8e0e4; /* Light teal color */
    }
    </style>